{% extends 'base.html.twig' %}

{% block body %}
    <h1>Login</h1>
    <form action="{{ path('app_login') }}" method="post">
        <label for="email">Email:</label>
        <input type="text" id="email" name="_email" value="{{ last_email }}" required autofocus>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" required>

        <button type="submit">Login</button>

        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    </form>
{% endblock %}
