{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}
    <h1>Clients</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
                <tr>
                    <td>{{ client.id }}</td>
                    <td>{{ client.fullname }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.phone }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
